body {
  box-sizing: border-box;
  background-color: blueviolet;
}

main {
  background-color: greenyellow;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  margin-top: 10%;
}

textarea {
  width: 70%;
  border-radius: 1rem;
  resize: none;
  padding: 1rem 1rem;
  font-size: 20px;
}

#quote {
  font-weight: bold;
  font-size: 18px;
}

#timer {
  color: blueviolet;
  font-size: 2rem;
  font-weight: bold;
}

.correct {
  color: green;
  text-decoration: line-through;
}

.wrong {
  color: red;
  text-decoration: underline;
}
